{{ define "main" }}
<section class="careers-mast">
  <figure>
    <img src={{"/images/careers-mast.jpg" | relURL }} alt="Moov people collage" width="1440" height="829">
  </figure>
  <div class="contain">
    <div class="copy">
      <h2 class="serif">Be part of our mission.</h2>
      <p class="large">We want to empower creators to embed banking and payment functionality everywhere.</p>
      <p>We’re developers for developer-first software. We believe that every software company is becoming a payments company and by equipping developers with the best tools we can tackle complex problems together. If that sounds good to you, you should apply.</p>
    </div>
  </div>
</section>

<section class="benefits-section">
  <div class="graphic-left">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 232"><rect y="116" width="58" height="116" fill="#faad40"/><path d="M58,0V116H0V0Z"/><path d="M0,77.18H0A19.33,19.33,0,0,0,19.33,57.85h0A19.33,19.33,0,0,0,0,38.51H0Z" fill="#fff"/></svg>
  </div>
  <div class="graphic-right">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232 232"><rect x="116" y="116" width="116" height="116" fill="#fff"/><path d="M116,116H232V0H116Z" fill="#e44c35"/><rect x="154.67" y="38.67" width="38.67" height="38.67" rx="4" fill="#faad40"/><path d="M0,116V232H116V116Z"/><polygon points="22.22 147.4 29.76 147.4 29.76 192.59 88.13 134.22 93.77 139.87 35.41 198.24 80.59 198.24 80.59 205.77 22.22 205.77 22.22 147.4" fill="#fff"/></svg>
  </div>
  <div class="contain">
    <div class="centered">
      <h2 class="fadeup"><span class="top-text">The</span> <span class="serif">Benefits</span></h2>
      <div class="benefits-list">
        <dl class="benefits">
          <div class="benefits-red">
            <img src="/images/remote.svg" alt="" role="presentation">
            <dt>100% remote</dt>
            <dd>We make remote-work work. We don’t have an office and we don’t care where you set up shop.</dd>
          </div>
          <div class="benefits-yellow">
            <img src="/images/competitive-pay.svg" alt="" role="presentation">
            <dt>Competitive pay</dt>
            <dd>Your hard work deserves to be compensated.</dd>
          </div>
          <div class="benefits-green">
            <img src="/images/401k.svg" alt="" role="presentation">
            <dt>401(k) plan</dt>
            <dd>Save for your retirement, and we’ll pitch in what you do up to 5% of your salary.</dd>
          </div>
          <div class="benefits-purple">
            <img src="/images/parental-leave.svg" alt="" role="presentation">
            <dt>Parental leave</dt>
            <dd>There’s nothing sweeter than a new baby, no matter how you become a parent. Take time to enjoy it.</dd>
          </div>
        </dl>
        <dl class="benefits">
          <div class="benefits-teal">
            <img src="/images/home-office.svg" alt="" role="presentation">
            <dt>Home office stipend</dt>
            <dd>Make your space comfortable, and pick your own gear.</dd>
          </div>
          <div class="benefits-red">
            <img src="/images/generous-insurance.svg" alt="" role="presentation">
            <dt>Generous insurance</dt>
            <dd>We cover 90% of our health and dental plans for you and 75% for eligible dependents. We also offer vision insurance.</dd>
          </div>
          <div class="benefits-yellow">
            <img src="/images/unlimited-pto.svg" alt="" role="presentation">
            <dt>Unlimited PTO</dt>
            <dd>Life happens. Take the time you need when you need it.</dd>
          </div>
          <div class="benefits-green">
            <img src="/images/learning-stipend.svg" alt="" role="presentation">
            <dt>Learning stipend</dt>
            <dd>We’re lifelong learners. Go to a conference and get the books you need to develop and grow.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
<section class="careers-section">
  <div class="contain">
    <div class="copy">
      <h2 class="serif">
        <span class="hide-overflow"><span class="appear up">Open positions</span></span>
      </h2>
      <p class="large">Our current focus is hiring engineers with payments or core banking experience. If you don't know the Go programming language, we're happy to support your learning.</p>
    </div>

    <ul class="openings">
      {{ range $.Site.Data.careers.positions}}
        <li class="fadeup">
          <a href="{{ .link }}">
            {{ .name }}
          </a>x
        </li>
      {{ end }}
    </ul>
  </div>
</section>
<section class="discipline-section">
  <div class="contain moov-watching">
    <h2>Don't see your discipline?</h2>
    <p>If you're an amazing marketer, designer, product thinker, or any other operator, we'd still love to hear from you at <a href="mailto:careers@moov.io">careers@moov.io</a>.</p>
    <svg viewBox="0 0 288 123" xmlns="http://www.w3.org/2000/svg">
      <path d="m104.35 42.15h-45.45a1.27 1.27 0 0 0 -1.27 1.26v36a1.3 1.3 0 0 0 1.3 1.42h13.73a1.27 1.27 0 0 0 1.26-1.26v-28.39a.49.49 0 0 1 .48-.48h2.84a.49.49 0 0 1 .47.48v28.41a1.27 1.27 0 0 0 1.29 1.26h9.76a1.27 1.27 0 0 0 1.24-1.26v-28.41a.49.49 0 0 1 .47-.48h2.88a.49.49 0 0 1 .47.48v28.41a1.27 1.27 0 0 0 1.26 1.26h13.8a1.27 1.27 0 0 0 1.26-1.26v-31.1c.08-3.78-2.22-6.34-5.79-6.34z"/>
      <path d="m229 42.15h-13.8a1.27 1.27 0 0 0 -1.2 1.26v28.41a.49.49 0 0 1 -.47.48h-2.84a.5.5 0 0 1 -.48-.48v-28.41a1.26 1.26 0 0 0 -1.26-1.26h-13.84a1.28 1.28 0 0 0 -1.3 1.42v12.6a1.54 1.54 0 0 0 0 .37l3.86 20.08c.47 2.46 1.51 4.23 3.91 4.23h21c2.4 0 3.44-1.77 3.91-4.23l3.86-20.08a1.54 1.54 0 0 0 0-.37v-12.6a1.39 1.39 0 0 0 -1.35-1.42z"/>
      <path d="m144.44 42.15h-24.78c-3.6 0-5.87 2.52-5.87 6.34v26c0 3.82 2.27 6.34 5.87 6.34h24.78c3.6 0 5.87-2.52 5.87-6.34v-26c0-3.78-2.31-6.34-5.87-6.34z"/>
      <path d="m184.56 42.15h-24.78c-3.6 0-5.87 2.52-5.87 6.34v26c0 3.82 2.27 6.34 5.87 6.34h24.78c3.6 0 5.87-2.52 5.87-6.34v-26c0-3.78-2.27-6.34-5.87-6.34z"/>
      <path class="lid" d="m132.05 53.59c9.08 0 16.44 7.91 16.44 7.91s-7.36 7.91-16.44 7.91-16.43-7.91-16.43-7.91 7.38-7.91 16.43-7.91z" fill="#fff"/>
      <g class="pupil"><circle cx="132.05" cy="61.5" fill="#ee444e" r="5.85" class="eye"/></g>
      <path class="lid" d="m172.17 53.59c9.08 0 16.44 7.91 16.44 7.91s-7.36 7.91-16.44 7.91-16.43-7.91-16.43-7.91 7.36-7.91 16.43-7.91z" fill="#fff"/>
      <g class="pupil"><circle cx="172.17" cy="61.5" fill="#ee444e" r="5.85" class="eye" /></g>
    </svg>
  </div>
</section>
<section class="eoe-section">
  <div class="contain">
    <p class="footnote">Moov embraces diversity and equal opportunity. The more inclusive we are, the better our work will be. We're committed to building a team that represents various backgrounds, perspectives, and skills.</p>
  </div>
</section>
<script>
  if ('IntersectionObserver' in window) {
    var options = {
      root: null,
      rootMargin: "0px"
    }
    function handleIntersect(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          attachEyeMovement();
          observer.disconnect();
        }
      });
    }
    var observer = new IntersectionObserver(handleIntersect, options);
    observer.observe(document.querySelector('.moov-watching'));

    function attachEyeMovement() {
      var eyes = document.querySelectorAll('.eye');
      var wait = false;
      document.body.addEventListener('mousemove', function(event) {
        if (!wait) {
          eyes.forEach(function (eye) {
            var rect = eye.getBoundingClientRect();
            var x = (rect.left) + (rect.width / 2);
            var y = (rect.top) + (rect.height / 2);
            var xshift = (event.clientX - x) / x;
            var yshift = Math.max(-1.7, Math.min((event.clientY - y) / event.pageY * 10, 1.7));
            eye.style.webkitTransform = 'translate(' + xshift + '%,' + yshift + '%)';
            eye.style.transform = 'translate(' + xshift + '%,' + yshift + '%)';
          });
          wait = true;
          setTimeout(function() { wait = false; }, 66);
        }
      });
    }
  }
</script>

{{ partial "footer-cta.html" }}
{{ end }}