<article class="article-list-item fadeup">
  <a href="{{ .Permalink }}">
    {{ $original := .Page.Resources.GetMatch "image" }}
    {{ .Scratch.Set "image1x" ($original.Fill "470x310 Center") }}
    {{ .Scratch.Set "image2x" ($original.Fill "940x620 Center") }}
    {{ $image1x := .Scratch.Get "image1x" }}
    {{ $image2x := .Scratch.Get "image2x" }}
    <img src="{{ $image1x.RelPermalink }}" srcset="{{ $image2x.RelPermalink }} 2x" class="article-list-item-image" width="{{ $image1x.Width }}" height="{{ $image1x.Height }}" alt="" loading="lazy">
  </a>
  <p class="category">{{ range .Params.categories }}{{ . }}{{ end }} &bull; {{ .ReadingTime }} minute read
  </p>
  <header>
    <a href="{{ .Permalink }}" class="article-list-item-title">{{ .Title}}</a>
  </header>
  <p class="summary">{{ .Summary }}</p>
  <div class="article-authors">
    {{- range .Params.authors }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .))}}
        <figure class="author" itemprop="author" itemscope itemtype="https://schema.org/Person">
          <img src="{{ .Params.photo }}" alt="{{ .Title }}" loading="lazy">
          <figcaption>
            <p class="author-name" itemprop="name">
              <a href="{{ .Permalink }}" title="Posts by {{ .Title }}" rel="author">{{ .Title }}</a>
            </p>
            <p>{{ .Params.jobTitle }}, {{ .Params.company }}</p>
          </figcaption>
        </figure>
      {{ end }}
    {{ end }}
  </div>
</article>