<section class="investors">
  <ul>
    <li>
      <img loading="lazy" src="{{"/images/investors/bain-capital.svg" | relURL }}" alt="Bain Capital Logo" class="investor-logo">
      <span class="investor-name">Matt<br>Harris</span>
      <a href="https://linkedin.com/in/mattcharris" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <img loading="lazy" src="{{"/images/investors/uncorrelated.svg" | relURL }}" alt="Uncorrelated Ventures Logo" class="investor-logo">
      <span class="investor-name">Salil<br>Deshpande</span>
      <a href="https://linkedin.com/in/salil" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <img loading="lazy" src="{{"/images/investors/gradient-ventures.svg" | relURL }}" alt="Gradient Ventures Logo" class="investor-logo">
      <span class="investor-name">Zachary<br>Bratun-Glennon</span>
      <a href="https://linkedin.com/in/zachary-bratun-glennon-b4a16026" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <img loading="lazy" src="{{"/images/investors/commerce-ventures.svg" | relURL }}" alt="Commerce Ventures Logo" class="investor-logo">
      <span class="investor-name">Dan<br>Rosen</span>
      <a href="https://linkedin.com/in/danrosen" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <img loading="lazy" src="{{"/images/investors/canapi.svg" | relURL }}" alt="Canapi Logo" class="investor-logo">
      <span class="investor-name">Dan<br>Beldy</span>
      <a href="https://linkedin.com/in/danbeldy" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <img loading="lazy" src="{{"/images/investors/rre-ventures.svg" | relURL }}" alt="RRE Ventures Logo" class="investor-logo">
      <span class="investor-name">Maria<br>Palma</span>
      <a href="https://linkedin.com/in/mariabrewerpalma" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <img loading="lazy" src="{{"/images/investors/abstract-ventures.png" | relURL }}" alt="Abstract Ventures Logo" class="investor-logo" height="70" width="127">
      <span class="investor-name">Ramtin<br>Naimi</span>
      <a href="http://linkedin.com/in/ramtin-n-7b2b5149" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <img loading="lazy" src="{{"/images/investors/veridian-credit-union.svg" | relURL }}" alt="Veridian Credit Union Logo" class="investor-logo">
      <span class="investor-name">Nick<br>Evans</span>
      <a href="https://linkedin.com/in/nick-evens76b75316" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Wade<br>Arnold</span>
      <a href="https://linkedin.com/in/wadearnold" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Brad<br>Bialas</span>
      <a href="https://linkedin.com/in/brad-bialas-1a9ab" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Zach<br>Bruhnke</span>
      <a href="https://linkedin.com/in/zbruhnke" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Tom<br>Carden</span>
      <a href="https://linkedin.com/in/tomcarden" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Brandon<br>DeWitt</span>
      <a href="https://linkedin.com/in/brandon-dewitt-b3a1794" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Michael<br>Ferrari</span>
      <a href="https://linkedin.com/in/mikeferrari" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Aaron<br>Frank</span>
      <a href="https://linkedin.com/in/arfrank" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Sima<br>Gandhi</span>
      <a href="https://linkedin.com/in/sima-handhi" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Michael<br>Giles</span>
      <a href="https://linkedin.com/in/mhgiles" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Mark<br>Goldberg</span>
      <a href="http://linkedin.com/in/mark-goldberg-25458110" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Jason<br>Henrichs</span>
      <a href="https://linkedin.com/in/jasonhenrichs" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">William<br>Hockey</span>
      <a href="https://linkedin.com/in/william-hockey04536710" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Dan<br>Holt</span>
      <a href="https://linkedin.com/in/danielwholt" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Steven<br>Hufford</span>
      <a href="https://linkedin.com/in/stevehuffordrj" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Bryan<br>Kelly</span>
      <a href="https://www.linkedin.com/in/bryan-kelly-31a8b53" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Mengxi<br>Lu</span>
      <a href="https://linkedin.com/in/mengxilu" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Charley<br>Ma</span>
      <a href="https://linkedin.com/in/charleyma" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Tyler<br>McIntyre</span>
      <a href="https://linkedin.com/in/tylermcintyre" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Calanthia<br>Mei</span>
      <a href="https://linkedin.com/in/calanthia" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Steven<br>Nigri</span>
      <a href="https://linkedin.com/in/stevenigri" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Jason<br>Overdorff</span>
      <a href="https://linkedin.com/in/jmover" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Don<br>Parker</span>
      <a href="https://linkedin.com/in/donrparker" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Robert<br>Smith</span>
      <a href="https://linkedin.com/in/robertsmith8" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Shawn<br>Ward</span>
      <a href="https://linkedin.com/in/shawnward" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Bruno<br>Werneck</span>
      <a href="http://linkedin.com/in/brunoswerneck" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
    <li>
      <span class="investor-name">Emily<br>White</span>
      <a href="https://www.linkedin.com/in/bryan-kelly-31a8b53" target="_blank" rel="noopener noreferrer">
        <img src="{{"/images/linkedin-icon.svg" | relURL }}" alt="LinkedIn Icon">
      </a>
    </li>
  </ul>
</section>