{{ $waypoints := resources.Get "js/noframework.waypoints.min.js" }}
{{ $secureWaypoints := $waypoints | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureWaypoints.RelPermalink }}" integrity="{{ $secureWaypoints.Data.Integrity }}"></script>

{{ $splide := resources.Get "js/splide.js" }}
{{ $secureSplide := $splide | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureSplide.RelPermalink }}" integrity="{{ $secureSplide.Data.Integrity }}"></script>

{{ $base := resources.Get "js/base.js" }}
{{ $secureBase := $base | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureBase.RelPermalink }}" integrity="{{ $secureBase.Data.Integrity }}"></script>

{{ if .IsHome }}
{{ $quotes := resources.Get "js/quotes.js" }}
{{ $secureQuotes := $quotes | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureQuotes.RelPermalink }}" integrity="{{ $secureQuotes.Data.Integrity }}"></script>
{{ end }}